body {
	margin: 0;
}

html, body {
	height: 4000px;
	width: 100%;
}

/* Parallax background element */
#background {
	position: fixed;
	top: 0;
	/*it can be either 100% (not optimised) or specific height that reflects height of other parallax elements*/
	/*height: 100%;*/
	height: 600px;
	width: 800px;
}

#main-area {
	/*display: none;*/
	position: absolute;
	top: 880px;
	left: 0;
	/*height: 100%;*/
	width: 100%;
	background-color: #303A3A;
	height: 9000px;
}